.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 800;
}

.prose h2 {
    font-size: 2rem;
}

.prose h3 {
    font-size: 1.5rem;
}

.prose h4 {
    font-size: 1.25rem;
}

.prose h5 {
    font-size: 1.125rem;
}
